.App {
  --white: rgb(255, 255, 255);
  --gray: rgb(250, 250, 250);
  --black: rgb(20, 20, 20);
  text-align: center;
  background-color: var(--gray);
  min-height: 100vh;
  color: var(--black);
}

#Dark-mode {
  animation: darkin 0.5s ease-in;
  --white: rgb(20, 20, 20);
  --gray: rgb(40, 40, 40);
  --black: rgb(250, 250, 250);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  box-shadow: 0px 0px 5px black;
  background-color: var(--white);
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
}

.Bar {
  display: flex;
  align-items: center;
  background-color: var(--white);
  width: 300px;
  word-wrap: none;
}

.ButtonCountry {
  font-size: 1.2rem;
  font-weight: 600;
  width: 200px;
  height: 50px;
}

#Button:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.Countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.Country {
  width: 200px;
  margin: 30px 15px 10px;
  background-color: var(--white);
  padding: 0px 0px 20px 0px;
}

.Country:hover {
  border: solid 2px black;
}

.Country img {
  width: 200px;
  height: 150px;
}

#Button {
  border: inherit;
  background-color: inherit;
  color: var(--black);
}

.Bar input {
  border: inherit;
  padding: 15px 20px;
}

.Bar select {
  border: inherit;
  padding: 15px 20px 15px 20px;
}

.Bar select :active {
  border: inherit;
  padding: 15px 20px 15px 20px;
}

#Active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 10px;
}

#Active img {
  width: 600px;
  height: 353px;
}

#Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#Search {
  width: 100%;
}

#Filter {
  width: auto;
}

#mobile {
  align-items: center;
}

@media screen and (max-width: 806px) {
  #bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  #Active {
    width: 400px;
  }

  #Active img {
    width: 400px;
    height: 235px;
    gap: 10px;
  }

  #mobile {
    padding: 0px;
  }

  #Column {
    padding: 0px;
  }
}

@media screen and (max-width: 400px) {
  #Active {
    width: 200px;
  }

  #mobile {
    padding: 0px;
  }

  #Active img {
    width: 200px;
    height: 150px;
    gap: 10px;
  }
}

@keyframes darkin {
  from {
    opacity: 50%;
  }

  to {
    opacity: 100%;
  }
}
