.App {
  --white: rgb(255, 255, 255);
  --gray: rgb(250, 250, 250);
  --black: rgb(20, 20, 20);
  text-align: center;
  background-color: var(--gray);
  min-height: 100vh;
  color: var(--black);
}

#Dark-mode {
  animation: darkin 0.5s ease-in;
  --white: rgb(20, 20, 20);
  --gray: rgb(40, 40, 40);
  --black: rgb(250, 250, 250);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  box-shadow: 0px 0px 5px black;
  background-color: var(--white);
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
}

.Bar {
  display: flex;
  align-items: center;
  background-color: var(--white);
  width: 300px;
  word-wrap: none;
}

.Countries {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Country {
  width: 200px;
  margin: 30px 15px 10px;
  background-color: var(--white);
  padding: 0px 0px 20px 0px;
}

.Country img {
  width: 200px;
  height: 150px;
}

#button {
  border: inherit;
  background-color: inherit;
  color: var(--black);
}

.Bar input {
  border: inherit;
  padding: 15px 20px;
}

.Bar select {
  border: inherit;
  padding: 15px 20px 15px 20px;
}

.Bar select :active {
  border: inherit;
  padding: 15px 20px 15px 20px;
}

#Active {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 10px;
}

#Active img {
  width: 600px;
  height: 353px;
}

#Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#Search {
  width: 100%;
}

#Filter {
  width: auto;
}

@keyframes darkin {
  from {
    opacity: 50%;
  }

  to {
    opacity: 100%;
  }
}
